<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>View your Images</h3>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="border border-radius-2 d-flex flex-row justify-content-center gap-4 align-items-center py-4 px-2">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">categorie 1</a></li>
                <li><a class="dropdown-item" href="#">categorie 2</a></li>
                <li><a class="dropdown-item" href="#">categorie 3</a></li>
              </ul>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center gap-2">
              <input type="text" [(ngModel)]="imageName" placeholder="Enter image name" class="form-control">
              <button (click)="getImageByName(imageName)" class="btn btn-primary">Search</button>
            </div>            
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 border border-radius-2">
        <div class="row">
          <div class="col-12 d-flex flex-col justify-content-center">
            <!-- Show the image if the URL is set -->
            <img *ngIf="imageUrl" [src]="imageUrl" alt="Image" class="img-fluid">
            <!-- Optionally show a placeholder if no image is found -->
            <div *ngIf="!imageUrl">No image found</div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>