<section>
    <div class="container my-6">
      <div class="row my-3">
        <div class="col-12">
          <h1 class="text-center my-3">View and Update Your Images!</h1>
        </div>
      </div>
  
      <div class="row g-2">
        <div class="container-fluid">
          <div class="row">
            <!-- Categories Filter -->
            <div class="col-3">
              <h4>Categories</h4>
              <ul>
                <li *ngFor="let category of categories">
                  <input 
                    type="checkbox" 
                    [value]="category" 
                    (change)="onCategoryChange($event)"
                  /> {{ category }}
                </li>
              </ul>
            </div>
  
            <!-- Images Section -->
            <div class="col-9">
              <div class="container-fluid">
                <div class="row g-2">
                  <div 
                    class="col-12 col-md-6 col-lg-4" 
                    *ngFor="let image of paginatedImages"
                  >
                    <div class="card">
                      <img 
                        [src]="'http://localhost:3000/uploaded_images/' + image.name" 
                        class="card-img-top" 
                        [alt]="image.name"
                        (error)="onImageError($event)"
                      />
                      <div class="card-body">
                        <h6 class="card-title">{{ image.name }}</h6>
                        <h6 class="text-body-secondary">{{ image.category }}</h6>
                        <div 
                          class="d-flex flex-row justify-content-center align-items-center gap-2"
                        >
                          <button class="btn btn-primary">Update</button>
                          <button class="btn btn-danger">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <!-- Pagination Controls -->
              <div class="d-flex justify-content-center mt-4">
                <nav>
                  <ul class="pagination">
                    <!-- Previous Button -->
                    <li 
                      class="page-item" 
                      [class.disabled]="currentPage === 1"
                    >
                      <button 
                        class="page-link" 
                        (click)="changePage(currentPage - 1)"
                      >
                        Previous
                      </button>
                    </li>
  
                    <!-- Pages -->
                    <li 
                      class="page-item" 
                      *ngFor="let page of pagesToShow" 
                      [class.active]="currentPage === page"
                    >
                      <button 
                        class="page-link" 
                        (click)="changePage(page)"
                      >
                        {{ page }}
                      </button>
                    </li>
  
                    <!-- Next Button -->
                    <li 
                      class="page-item" 
                      [class.disabled]="currentPage === totalPages"
                    >
                      <button 
                        class="page-link" 
                        (click)="changePage(currentPage + 1)"
                      >
                        Next
                      </button>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  