<section>
    <div class="container-fluid my-5">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <img src="" alt="">
                    </div>
                    <div class="col-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab tenetur deserunt similique fugiat esse aut, sit officiis dolor excepturi quo nisi sed laudantium eligendi voluptas at fugit asperiores officia ex.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>